.slider {
  aspect-ratio: 1915 / 748;
}
.slider [class*='swiper-button'] {
  left: 20px;
}
.slider [class*='swiper-button-next'] {
  left: auto;
  right: 20px;
}
.slider [class*='swiper-button-prev']::after {
  content: '\e935';
  font-family: 'OrdinaryArtist-ico';
  border-radius: 50%;
  color: #212121;
  background-color: #fffc;
}
.slider [class*='swiper-button-prev']:hover::after {
  color: #f7f7f7;
  background-color: #212121;
}
.slider [class*='swiper-button-next']::after {
  content: '\e936';
  font-family: 'OrdinaryArtist-ico';
  border-radius: 50%;
  color: #212121;
  background-color: #fffc;
}
.slider [class*='swiper-button-next']:hover::after {
  color: #f7f7f7;
  background-color: #212121;
}

@media (max-width: 1024px) {
  .slider {
    aspect-ratio: 768 / 405;
  }
}

@media (max-width: 768px) {
  .slider {
    aspect-ratio: 498 / 348;
  }
}
